section{
    margin-top: 100px;
}
div{
    width:200px;
    height:50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin:10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
/* transform */
#one{
    transform: rotate(180deg);
}
#two{
    transform:scale(0.5);   /*<<!--tranform transition-property: -->>;  
    /* transform:scale(2,0.5) matlab x dirn me double hom jaye aur y dirn me half mtlab width double h 
*/
}
#three{
    transform:translatex(100px);
    /* transform:translate(100px,100px); */
}
#four{
    /* transform:skew(90deg); matlab gyab ho jayega */
    transform:skew(30deg);
}
#five{
    transform:rotate(30deg) translatex(150px);
}