h1{
    text-align: center;
    text-decoration:wavy underline;
    font-family:fantasy;
}
p{
    background-color: black;
    color:white; 
    font-weight:400;
    line-height:1.5; 
    font-size : normal;
    
}
button{
    background-color: blue;
        color:white;
}
h2{
    font-weight:normal;
    text-decoration: blue line-through;
}
a{
    text-decoration:none ;
}
