#box{
    height:150px;
    width:300px;
    border:5px dotted black;
    background-color: grey;
    padding: 1em;
    margin:20px 1em 40px 2em;
}
.box{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:pink;
    border-radius: 50%;
    display:inline-block;
}