h1{
    border:2px solid black;
    width:50%;
}
#outer{
    height:400px;
    width:400px;
    background-color: pink;
    margin:50px;
}
#inner{
    height:40px;
    width:40px;
    background-color:cornflowerblue;
    margin:10%;
}