div{
    height:200px; 
    weight:500px;
    background-color: pink;
    /* border-width: 5px;
    border-style:solid ;
    border color:black; */
    border:5px solid black; /*-border shorthand property */
    border-radius: 5px; 
    padding-top:10px; 
    margin-bottom:10px;  
    /* border-left-color:blue;
    border-left-style:dashed; */
    /* border-top:5px dashed blue; */
}
h1{
    /* border-width:2px;
    border-style: dashed;
    border-color:green; */
    border:2px dashed green;
    border-radius:5px;
    /* border-radius:50%;  // jab height , weight same hota h tab 50 percent par pura circle banta hai */
}
button{
    border:2px solid black;
    padding-left: 50px;
    padding-right:25px;
    background-color:yellow;
}

/* //padding for all 4 sides
padding:50 px;
padding:1px 2px 3px 4px; in clockwise direction */