/* h2{
    display:inline;
}
p{
    display:block;
}
span{
     border:2px solid black;
    background-color: lime;
    height: 100px;
    width:200px;
    padding:50px;
    margin:20 px;
} */


div{
     border:2px solid black;
    background-color: lime;
    height: 100px;
    width:200px;
    padding:50px;
    margin:20 px;
    display:inline-block;
    
}
/* #third{
     display:none;    id=third de ke html me tab display karne se hum koi bhi element ko delete kar sakte h 
} */ */